USE [master]
GO
/****** Object:  Database [BarraDB]    Script Date: 18-05-2026 1:54:52 ******/
CREATE DATABASE [BarraDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BarraDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BarraDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BarraDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BarraDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BarraDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BarraDB]
GO
/****** Object:  Table [dbo].[categoriaCoctel]    Script Date: 18-05-2026 1:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoriaCoctel](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoria] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coctel]    Script Date: 18-05-2026 1:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coctel](
	[idCoctel] [int] IDENTITY(1,1) NOT NULL,
	[nombreCoctel] [varchar](50) NOT NULL,
	[instrucciones] [varchar](max) NOT NULL,
	[precioVenta] [int] NOT NULL,
	[foto] [varchar](255) NULL,
	[idCategoria] [int] NOT NULL,
	[idCristaleria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCoctel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombreCoctel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cristaleria]    Script Date: 18-05-2026 1:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cristaleria](
	[idCristaleria] [int] IDENTITY(1,1) NOT NULL,
	[nombreCristaleria] [varchar](50) NOT NULL,
	[capacidadOz] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCristaleria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombreCristaleria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleReceta]    Script Date: 18-05-2026 1:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleReceta](
	[idDetalleReceta] [int] IDENTITY(1,1) NOT NULL,
	[idCoctel] [int] NOT NULL,
	[idIngrediente] [int] NOT NULL,
	[cantidad] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingrediente]    Script Date: 18-05-2026 1:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingrediente](
	[idIngrediente] [int] IDENTITY(1,1) NOT NULL,
	[nombreIngrediente] [varchar](50) NOT NULL,
	[stock] [float] NOT NULL,
	[unidad] [varchar](10) NOT NULL,
	[idTipoIngrediente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombreIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoIngrediente]    Script Date: 18-05-2026 1:54:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoIngrediente](
	[idTipoIngrediente] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipoIngrediente] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombreTipoIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[coctel]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[categoriaCoctel] ([idCategoria])
GO
ALTER TABLE [dbo].[coctel]  WITH CHECK ADD FOREIGN KEY([idCristaleria])
REFERENCES [dbo].[cristaleria] ([idCristaleria])
GO
ALTER TABLE [dbo].[detalleReceta]  WITH CHECK ADD FOREIGN KEY([idCoctel])
REFERENCES [dbo].[coctel] ([idCoctel])
GO
ALTER TABLE [dbo].[detalleReceta]  WITH CHECK ADD FOREIGN KEY([idIngrediente])
REFERENCES [dbo].[ingrediente] ([idIngrediente])
GO
ALTER TABLE [dbo].[ingrediente]  WITH CHECK ADD FOREIGN KEY([idTipoIngrediente])
REFERENCES [dbo].[tipoIngrediente] ([idTipoIngrediente])
GO
USE [master]
GO
