@model SistemaManejoBar.Models.Cristalerium

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar</h1>

<h4>Vaso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCristaleria" class="control-label"> Nombre del vaso</label>
                <input asp-for="NombreCristaleria" class="form-control" />
                <span asp-validation-for="NombreCristaleria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadOz" class="control-label"> Capacidad del vaso </label>
                <input asp-for="CapacidadOz" class="form-control" />
                <span asp-validation-for="CapacidadOz" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
